* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font_text: 'Comic Sans MS', 'cursive', sans-serif;
    --bg-light: #efefef;
    --clr: #1b9c5c;
    --clr-hv: #0b723f;
    --clr-alpha: #9c9c9c60;
}


/* start menu */
.menu {
    font-family: var(--font_text);
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    border-right: 1px solid rgba(88, 88, 88, 0.582);
    z-index: 10;
    display: block;
}

.menu .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 50px 15px 60px 15px;
}

.menu .logo a {
    text-decoration: none;
    color: black;
    font-size: 28px;
    font-weight: 600;
}

.home_selection {
    display: flex;
    flex-direction: column;
    gap: 18px;
    list-style: none;
    height: 100vh;
}

.home_selection a {
    text-decoration: none;
    color: #000;
}

.home_selection-item {
    position: relative;
    font-size: 18px;
    height: 50px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin: 0 12px;
    border-radius: 8px;
    transition: 0.15s;
}


.home_selection-item:active span {
    font-weight: bold;
}

.home_selection-item:hover {
    background-color: rgba(61, 61, 61, 0.1);
}

.home_selection-item:hover i {
    transition: 0.3s;
    transform: scale(1.05);
}

.home_selection-item .dot-red {
    position: absolute;
    left: 23px;
    top: 16.8px;
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
}


.home_selection-item .dot-red.hidden {
    display: none;
}

.home_selection-item span {
    margin-left: 20px;
}

.home_selection-item img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

/* end menu */

/* .profile */
.profile_main{
    height: 100%;  
    width: 1435px;
    margin:  auto;
    margin-top: 30px;
    overflow-x: hidden;
}
.profile_header{
    display: flex;
    color: #000;
    width: 100%  ;
    margin-top: 30px;
    padding-left: 250px;
    height: 180px;
    justify-content: center;
    font-family: var(--font_text);
}

.profile_header-avatar{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: 20px;
}

.profile_avatar-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

.profile_header-info{
    width: 500px;
    margin-left: 60px;
}

.profile_header-info-top{
    width: 500px; 
    line-height: 70px;
    
}

.profile-userfile{
    width: 150px;
    height: 30px;
    cursor: pointer;
    line-height: 10px;
    font-size: 20px;
}
.header_edit-container{
    padding: 0 15px;
    display: inline-block;
}
.profile_pointer{
    cursor: pointer;
}
.header_edit-profile{
    color: #000;
    text-decoration: none; 
    border: 1px  #000;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    display: block;
    line-height: 30px;
    background-color: #efefef;
    font-weight: 600;
}
.header_edit-profile:hover{
    background-color: #d3d0d0;
}

.profile_header-info-bot{
    width: 1000px;
    display: flex;
    list-style: none;
    margin-bottom: 20px ;
    padding-left: 0;
    flex-direction: row;
    line-height: 50px;
}
.number_info{
    font-weight: 700;
}

.text_info{
    margin-left: 2px;
}

.info_bot-item{
    padding:0 20px 0 3px;
    font-size: 18px;
    display: inline-block;
}

/* body_post */
.profile_body{
    width: 1100px;
    float: right;
    margin-right: 40px;

}

.profile_title{
    border-top: 1px solid  #c1bfbf;
    width: 1100px;
    display: flex;
    justify-content: center;
    margin-top: 20px; 

    
    
}
.profile_title-text{
    border-top: 2px solid #000;
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}


.profile_body-contain{
    padding-top: 30px;
    width: 1100px;
    display: flex;
   flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    
    
}

.profile_post-item{
    width: 300px;
    height: 300px;
    margin: 8px;
    cursor: pointer;
    position: relative;
    
}
.profile_post-item:hover .post_react{
    
    display: flex;  
    color: black
    
}
.profile_post-item:hover .post_item-img {
    opacity: 0.5;
}
.post_react{
    position: absolute;
    top: 50%;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    
    display: none;
    color: white;
}
.post_react span{
    display: flex;
    align-items: center;
    gap: 7px;
}

.post_item-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 2px;
    
    
}