* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font_text: 'Comic Sans MS', cursive, sans-serif;
}


body {
    background-image: url(https://c.wallhere.com/photos/ae/33/Adventure_Time_Finn_the_Human_Jake_the_Dog_landscape-206336.jpg!d);
    background-size: cover;
    height: 100vh;
    /* Đảm bảo body có chiều cao 100% của viewport */
    position: relative;
    font-family: var(--font_text);
}

.layer
{
    height: 100vh;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    opacity: 0.5;
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main .container {
    display: flex;
    width: 800px;
    animation: updown 7s infinite;
    /* Thêm animation để chuyển động lên xuống */
}

/* Định nghĩa keyframes cho hiệu ứng chuyển động lên xuống */
@keyframes updown {

    0%,
    100% {
        transform: translateY(0);
        /* Vị trí ban đầu */
    }

    50% {
        transform: translateY(-30px);
        /* Dịch chuyển lên 20px */
    }
}

.main .container .left {
    background-color: rgba(255, 255, 255, 0.7);
    /* Màu nâu với độ mờ 50% */

    width: 50%;
    border-top-left-radius: 10px;
    /* bo góc trên bên trái */
    border-bottom-left-radius: 10px;
    /* bo góc dưới bên trái */
    text-align: center;
    padding: 16px;
    border-right: 2px dashed rgb(0, 0, 0);
}

.main .container .right {
    background-color: rgba(255, 255, 255, 0.7);
    /* Màu nâu với độ mờ 50% */

    width: 50%;
    border-top-right-radius: 10px;
    /* bo góc trên bên trái */
    border-bottom-right-radius: 10px;
    /* bo góc dưới bên trái */
    text-align: center;
    /* border-left: 2px groove rgb(0, 0, 0); */
}

.left .login {
    width: 100%;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 600;
    font-family: var(--font_text);
}

.left input {
    width: 100%;
    font-family: var(--font_text);
    margin-bottom: 10px;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(70, 70, 70);
    background: transparent;
}

.left input::placeholder {
    color: rgb(0, 0, 0);
}

.left input:focus::placeholder {
    opacity: 0;
}

.left button {
    font-family: var(--font_text);
    width: 80%;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    border-radius: 40px;
    border: none;
    background: rgb(67, 216, 99);
    transition: 0.2s;
}

.left button:hover {
    transition: 0.1s;
    box-shadow: 1px 1px 10px rgb(66, 207, 10);
}

.right .text {
    font-size: 37px;
    font-weight: 600;
    color: rgb(19, 87, 6);
    animation: blink 1s infinite;
    margin-top: 15px;
    padding-bottom: 20px;
    font-family: var(--font_text);
    filter: drop-shadow(1px 1px 10px green);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.right img {
    width: 115px;
    height: 115px;
    filter: drop-shadow(4px 2px 8px rgb(24, 231, 17));
}

.right a {
    width: 70%;
    color: #000000;
    font-size: 20px;
    font-family: var(--font_text);
    text-decoration: none;
    padding: 10px 10px;
    margin-top: 33px;
    border-radius: 40px;
    background: #36a420;
    font-weight: 600;
    display: inline-block;
    background: rgb(103, 211, 70);
    animation: changeBackground 3.5s infinite;
}

@keyframes changeBackground {
    0% {
        background-color: rgb(103, 211, 70);
    }

    25% {
        background-color: rgb(26, 214, 173);
    }

    50% {
        background-color: rgb(95, 233, 53);
    }

    75% {
        background-color: rgb(42, 154, 206);
    }

    100% {
        background-color: rgb(181, 218, 47);
    }
}

.sign_up {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    z-index: 101;
}

.sign_up .butcc {
    padding: 50px;
    width: 100%;
    display: flex;
    position: relative;
}

.sign_up .butcc img.logo {
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    border-radius: 50%;
    position: absolute;
    width: 95px;
    height: 95px;
    left: 155px;
    top: 10px;
    animation: changeboxshadow 2s infinite;
}

@keyframes changeboxshadow {

    0%,
    100% {
        box-shadow: 1px 1px 20px rgb(0, 0, 0);
    }

    50% {
        box-shadow: 1px 1px 20px rgb(0, 255, 76);
    }

}

.sign_up .butcc .cancle {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    cursor: pointer;
}

.sign_up .signup {
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-family: var(--font_text);
}

.signup_body {
    padding: 0 10px;
    width: 100%;
}

.signup_body input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(70, 70, 70);
    background: transparent;
}

.signup_body input::placeholder {
    font-family: var(--font_text);
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.signup_body input:focus::placeholder {
    opacity: 0;
}

.create_account {
    text-align: center;
    padding: 30px 0px;
}

.create_account button {
    font-family: var(--font_text);
    width: 65%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 40px;
    padding: 5px;
    border: none;
    background: rgb(67, 216, 99);
}

.create_account button:hover {
    transition: 0.1s;
    box-shadow: 1px 1px 10px rgb(66, 207, 10);
}

.show {
    display: block;
}